# Dependencies
node_modules/
.pnpm-store/

# Build & compiled outputs
dist/
build/
out/
.vite/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
coverage/
.nyc_output/
test-results/
playwright-report/

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor configs
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Temp & Cache
.cache/
.temp/
.tmp/
